{%- assign locale = site.website.html_elements.software -%}
## {{ locale.software.lang[page.lang] }}
{%- for software in software_names -%}
    {%- assign i=0 -%}
    {%- for p in ss -%}
        {%- if p.software_name == software and p.software_version -%}
            {% if i == 0 %}
### {{ p.software_name }}
                {%- comment -%}No checks for duplicates. It is your responsability.{%- endcomment -%}
                {%- for meta in ss -%}
                    {%- if meta.meta and p.software_name == meta.software_name -%}
                        {%- if meta.archived %}
*Note: this repository is archived*
                        {% endif %}

                                {% if meta.repositories %}
#### {{ locale.repositories.lang[page.lang] }}
<ul class="software-repositories-list">
                                    {% for r in meta.repositories %}
<li class="software-repositories-list-element"><a href="{{ r.url }}" title="{{ r.label | capitalize }}">{{ r.label | capitalize }}</a></li>
                                    {% endfor %}
</ul>
                                {% endif %}

                                {% if meta.documentation %}
#### {{ locale.documentation.lang[page.lang] }}
<ul class="software-documentation-list">
                                   {% for d in meta.documentation %}
                                        {% if d.label == 'changelog' %}
                                            {% capture doc_url %}{{ site.rooturl }}/software/CHANGELOG-{{- meta.software_name -}}.html{% endcapture %}
                                        {% else %}
                                            {% assign doc_url = d.url %}
                                        {% endif %}
<li class="software-documentation-list-element"><a href="{{ doc_url }}" title="{{ d.label | capitalize }}">{{ d.label | capitalize }}</a></li>
                                    {% endfor %}
</ul>
                                {% endif %}
                                {% if meta.related_links %}
#### {{ locale.related_links.lang[page.lang] }}
<ul class="software-related-links-list">
                                    {% for l in meta.related_links %}
<li class="software-related-links-list-element"><a href="{{ l.url }}" title="{{ l.label | capitalize }}">{{ l.label | capitalize }}</a></li>
                                    {% endfor %}
</ul>
                                {% endif %}
                    {%- endif -%}
                {%- endfor %}
#### {{ locale.releases.lang[page.lang] }}
<ul role="list" class="software-releases-list">
                {%- assign i = i | plus: 1 -%}
            {%- endif -%}
<li role="listitem" class="software-releases-list-element"><a href="{{ site.rooturl }}/software/{{ p.software_name }}-{{ p.software_version }}/release.html" title="{{ p.software_name }} {{ locale.version.lang[page.lang] }} {{ p.software_version }}"><code>{{ p.software_version }}</code></a></li>
        {%- endif -%}
    {%- endfor -%}
</ul>
{%- endfor -%}
