{%- comment -%}O(sorting algorithm){%- endcomment -%}
{%- assign ss = site.software | uniq | sort_natural: 'software_version_raw' | reverse -%}
{%- assign software_names = '' | split: ',' -%}
{%- assign locale = site.website.html_elements.software -%}
{%- comment -%}
Filter meta files only.

O(n) where n == len(files with front matter in ./_software)
{%- endcomment -%}
{%- for p in site.software -%}
    {%- if p.meta -%}
        {%- assign software_names = software_names | push: p.software_name -%}
    {%- endif -%}
{%- endfor -%}

## {{ locale.table_of_contents.lang[page.lang] }}

{% comment -%}Markdown TOC must be generated manually because the content of this page is dynamic.{%- endcomment -%}
<ul>
    <li><a href="#{{ locale.table_of_contents.lang[page.lang] | slugify }}">{{ locale.table_of_contents.lang[page.lang] }}</a></li>
    <li><a href="#{{ locale.introduction.lang[page.lang] | slugify }}">{{ locale.introduction.lang[page.lang] }}</a></li>
    <li><a href="#{{ locale.authenticity.lang[page.lang] | slugify }}">{{ locale.authenticity.lang[page.lang] }}</a></li>
    <ul>
        <li><a href="#{{ locale.extract.lang[page.lang] | slugify }}">{{ locale.extract.lang[page.lang] }}</a></li>
        <li><a href="#{{ locale.signing_keys.lang[page.lang] | slugify }}">{{ locale.signing_keys.lang[page.lang] }}</a></li>
        <li><a href="#{{ locale.terminology.lang[page.lang] | slugify }}">{{ locale.terminology.lang[page.lang] }}</a></li>
        <li><a href="#{{ locale.methods.lang[page.lang] | slugify }}">{{ locale.methods.lang[page.lang] }}</a></li>
        <ul>
            <li><a href="#{{ locale.upload_what_i_have_to_do.lang[page.lang] | slugify }}">{{ locale.upload_what_i_have_to_do.lang[page.lang] }}</a></li>
            <li><a href="#{{ locale.download_what_you_have_to_do.lang[page.lang] | slugify }}">{{ locale.download_what_you_have_to_do.lang[page.lang] }}</a></li>
        </ul>
    </ul>
    <li><a href="#{{ locale.software.lang[page.lang] | slugify }}">{{ locale.software.lang[page.lang] }}</a></li>
    <ul>


{%- assign i=0 -%}
{%- assign j=0 -%}
{%- for s in software_names -%}
        <li><a href="#{{ s | slugify }}">{{ s }}</a></li>
        <ul>
    {%- if i == 0 -%}
            <li><a href="#{{ locale.repositories.lang[page.lang] | slugify }}">{{ locale.repositories.lang[page.lang] }}</a></li>
            <li><a href="#{{ locale.documentation.lang[page.lang] | slugify }}">{{ locale.documentation.lang[page.lang] }}</a></li>
        {%- for meta in ss -%}
            {%- if meta.meta and s == meta.software_name -%}
                {%- if meta.related_links -%}
            <li><a href="#{{ locale.related_links.lang[page.lang] | slugify }}">{{ locale.related_links.lang[page.lang] }}</a></li>
                    {%- assign j = j | plus: 1 -%}
                {%- endif -%}
            {%- endif -%}
        {%- endfor -%}
            <li><a href="#{{ locale.releases.lang[page.lang] | slugify }}">{{ locale.releases.lang[page.lang] }}</a></li>
    {%- else -%}
            <li><a href="#{{ locale.repositories.lang[page.lang] | slugify }}-{{ i }}">{{ locale.repositories.lang[page.lang] }}</a></li>
            <li><a href="#{{ locale.documentation.lang[page.lang] | slugify }}-{{ i }}">{{ locale.documentation.lang[page.lang] }}</a></li>
        {%- for meta in ss -%}
            {%- if meta.meta and s == meta.software_name -%}
                {%- if meta.related_links -%}
                    {%- if j > 0 -%}
            <li><a href="#{{ locale.related_links.lang[page.lang] | slugify }}-{{ j }}">{{ locale.related_links.lang[page.lang] }}</a></li>
                    {%- else -%}
            <li><a href="#{{ locale.related_links.lang[page.lang] | slugify }}">{{ locale.related_links.lang[page.lang] }}</a></li>
                    {%- endif -%}
                    {%- assign j = j | plus: 1 -%}
                {%- endif -%}
            {%- endif -%}
        {%- endfor -%}
        <li><a href="#{{ locale.releases.lang[page.lang] | slugify }}-{{ i }}">{{ locale.releases.lang[page.lang] }}</a></li>
    {%- endif -%}
        </ul>
    {%- assign i = i | plus: 1 -%}
{%- endfor -%}
</ul>
</ul>
{%- comment -%}
THIS IS BAD:
O(m * (n**2)) = O(n**3)
where
    m = len(software_names)
    n = len(files with front matter in ./_software)
{%- endcomment -%}
