{%- include seo/iso639_alternate.liquid -%}
{%- assign iso639_alt = iso639_alt | split: ',' -%}
{%- for lang in iso639_alt -%}
    {%- assign hreflang = lang | split: '|' -%}
<link rel="alternate" hreflang="{{ hreflang[0] }}" href="{{ site.rooturl }}{{ hreflang[1] }}" />
{%- endfor -%}
