@use "sass:math";
// Optional offset options to work with grid.scss

// Offset Columns

@each $breakpoint, $variant in $responsive-variants {
  @include breakpoint($breakpoint) {
    .offset#{$variant}-1 { margin-left: (math.div(1, 12) * 100%) !important; }
    .offset#{$variant}-2 { margin-left: (math.div(2, 12) * 100%) !important; }
    .offset#{$variant}-3 { margin-left: (math.div(3, 12) * 100%) !important; }
    .offset#{$variant}-4 { margin-left: (math.div(4, 12) * 100%) !important; }
    .offset#{$variant}-5 { margin-left: (math.div(5, 12) * 100%) !important; }
    .offset#{$variant}-6 { margin-left: (math.div(6, 12) * 100%) !important; }
    .offset#{$variant}-7 { margin-left: (math.div(7, 12) * 100%) !important; }
    .offset#{$variant}-8 { margin-left: (math.div(8, 12) * 100%) !important; }
    .offset#{$variant}-9 { margin-left: (math.div(9, 12) * 100%) !important; }
    .offset#{$variant}-10 { margin-left: (math.div(10, 12) * 100%) !important; }
    .offset#{$variant}-11 { margin-left: (math.div(11, 12) * 100%) !important; }
  }
}
