{%- assign locale = site.website.html_elements.software -%}
## {{ locale.introduction.lang[page.lang] }}

Cette page est la seule source *officielle* de certains de mes logiciels
disponibles sur Internet. Vous trouverez ici les versions des logicielles et
les méthodes pour vérifier leur authenticité.
