<div markdown="0">
<div class="testimonial-slider">
    <input type="radio" name="testimonial" id="testimonial-0">
    <input type="radio" name="testimonial" id="testimonial-1" checked>
    <input type="radio" name="testimonial" id="testimonial-2">
    <input type="radio" name="testimonial" id="testimonial-3">
    <input type="radio" name="testimonial" id="testimonial-4">
    <input type="radio" name="testimonial" id="testimonial-5">
    <input type="radio" name="testimonial" id="testimonial-6">
    <input type="radio" name="testimonial" id="testimonial-7">
    <input type="radio" name="testimonial" id="testimonial-8">
    <input type="radio" name="testimonial" id="testimonial-9">
    <input type="radio" name="testimonial" id="testimonial-10">
    <input type="radio" name="testimonial" id="testimonial-11">

    <div class="testimonial-container">
        <div class="testimonial" id="testimonial-0-content">
            <div class="stars">⭐⭐⭐⭐⭐</div>
            <div class="flag">🇫🇷</div>
            <div class="country">France</div>
            <div class="username">An.</div>
            <div class="review">perfect , serious I would recommend</div>
        </div>
        <div class="testimonial" id="testimonial-1-content">
            <div class="stars">⭐⭐⭐⭐⭐</div>
            <div class="flag">🇸🇬</div>
            <div class="country">Singapore</div>
            <div class="username">Va.</div>
            <div class="review">very happy to work with, having deep knowledge, and good proposal of workflow depending up on the requirements. on spot thinking and ideas, good debugging skills to identify problematic code. Kudos to his dedication and hardwork!!</div>
            <div class="positives"><ul><li>Politeness</li><li>Level of cooperation</li><li>Delivery time</li><li>Went above and beyond</li><li>Deep understanding</li><li>Language fluency</li><li>Quick responsiveness</li><li>Proactive communication</li><li>Professionalism of work</li><li>Code expertise</li><li>Bug free</li><li>Attention to details</li><li>Exceeded expectations</li></ul></div>
        </div>
        <div class="testimonial" id="testimonial-2-content">
            <div class="stars">⭐⭐⭐⭐⭐</div>
            <div class="flag">🇬🇧</div>
            <div class="country">United Kingdom</div>
            <div class="username">Ma.</div>
            <div class="review">Good communication, easy to work with</div>
        </div>
        <div class="testimonial" id="testimonial-3-content">
            <div class="stars">⭐⭐⭐⭐⭐</div>
            <div class="flag">🇿🇼</div>
            <div class="country">Zimbabwe</div>
            <div class="username">Ku.</div>
            <div class="review">Franco is one of the best freelancers (if not the best of them all) I've worked with on Fiverr. He ticks all boxes for me in terms of expertise, communication, cooperation etc. My go to coder from here on.</div>
            <div class="positives"><ul><li>Went above and beyond</li><li>Delivery time</li><li>Language fluency</li><li>Politeness</li><li>Proactive communication</li><li>Level of cooperation</li><li>Quick responsiveness</li><li>Deep understanding</li><li>Attention to details</li><li>Code expertise</li><li>Bug free</li><li>Exceeded expectations</li><li>Documentation</li><li>Professionalism of work</li></ul></div>
        </div>
        <div class="testimonial" id="testimonial-4-content">
            <div class="stars">⭐⭐⭐⭐⭐</div>
            <div class="flag">🇺🇸</div>
            <div class="country">United States</div>
            <div class="username">My.</div>
            <div class="review">Franco was very patient with me and explained things to me so I'll have a better understanding</div>
        </div>
        <div class="testimonial" id="testimonial-5-content">
            <div class="stars">⭐⭐⭐⭐⭐</div>
            <div class="flag">🇺🇸</div>
            <div class="country">United States</div>
            <div class="username">Mi.</div>
            <div class="review">Working with Franco M. was a great! He went above and beyond. Really great deal. My website docs now look super professional and legit. Thanks again!</div>
            <div class="positives"><ul><li>level of cooperation</li><li>Proactive communication</li><li>Deep understanding</li><li>Went above and beyond</li><li>Exceeded expectations</li><li>Attention to details</li><li>Eloquence</li><li>Professionalism of work</li></ul></div>
        </div>
        <div class="testimonial" id="testimonial-6-content">
            <div class="stars">⭐⭐⭐⭐⭐</div>
            <div class="flag">🇬🇧</div>
            <div class="country">United Kingdom</div>
            <div class="username">ha.</div>
            <div class="review">spot on work</div>
        </div>
        <div class="testimonial" id="testimonial-7-content">
            <div class="stars">⭐⭐⭐⭐⭐</div>
            <div class="flag">🇬🇧</div>
            <div class="country">United Kingdom</div>
            <div class="username">ba.</div>
            <div class="review">One of the best and most professional people I've worked with on Fiverr. Highly recommended! 5/5</div>
            <div class="positives"><ul><li>Delivery time</li><li>Language fluency</li><li>Level of cooperation</li><li>Deep understanding</li><li>Politeness</li><li>Documentation</li><li>Attention to details</li><li>Professionalism of work</li><li>Code expertise</li><li>Bug free</li></ul></div></div>
        <div class="testimonial" id="testimonial-8-content">
            <div class="stars">⭐⭐⭐⭐⭐</div>
            <div class="flag">🇺🇸</div>
            <div class="country">United States</div>
            <div class="username">oz.</div>
            <div class="review">Very knowledgeable</div>
            <div class="positives"><ul><li>Delivery time</li><li>Politeness</li><li>Quick responsiveness</li><li>Level of cooperation</li><li>Went above and beyond</li><li>Deep understanding</li><li>Proactive communication</li><li>Language fluency</li></ul></div></div>
        <div class="testimonial" id="testimonial-9-content">
            <div class="stars">⭐⭐⭐⭐⭐</div>
            <div class="flag">🇮🇹</div>
            <div class="country">Italy</div>
            <div class="username">si.</div>
            <div class="review">Professionale e veloce nella consegna</div>
            <div class="positives"><ul><li>Tempo di consegna</li><li>Comprensione profonda</li><li>Comunicazione proattiva</li><li>Livello di cooperazione</li><li>Competenza linguistica</li></ul></div></div>
        <div class="testimonial" id="testimonial-10-content">
            <div class="stars">⭐⭐⭐⭐⭐</div>
            <div class="flag">🇺🇸</div>
            <div class="country">United States</div>
            <div class="username">rh.</div>
            <div class="review">My second order with them, super helpful, great quality of work.</div>
        </div>
        <div class="testimonial" id="testimonial-11-content">
            <div class="stars">⭐⭐⭐⭐⭐</div>
            <div class="flag">🇺🇸</div>
            <div class="country">United States</div>
            <div class="username">ja.</div>
            <div class="review">Complete the work in a timely manner and went above and beyond</div>
            <div class="positives"><ul><li>Professionalism of work</li></ul></div></div>
    </div>
    <div class="navigation">
        <label for="testimonial-0" class="nav-dot"></label>
        <label for="testimonial-1" class="nav-dot"></label>
        <label for="testimonial-2" class="nav-dot"></label>
        <label for="testimonial-3" class="nav-dot"></label>
        <label for="testimonial-4" class="nav-dot"></label>
        <label for="testimonial-5" class="nav-dot"></label>
        <label for="testimonial-6" class="nav-dot"></label>
        <label for="testimonial-7" class="nav-dot"></label>
        <label for="testimonial-8" class="nav-dot"></label>
        <label for="testimonial-9" class="nav-dot"></label>
        <label for="testimonial-10" class="nav-dot"></label>
        <label for="testimonial-11" class="nav-dot"></label>
    </div>
</div>
<br />
<a href="https://fiverr.com/franco_masotti" target="_blank" class="fiverr-link">Verify these reviews on my Fiverr Profile</a>
</div>
