{%- assign locales = site.website.html_elements.footer -%}
<footer class="footer">
    {%- if page.is_404 != true -%}
    <br>
    {% include isso.html %}
    <br>
    {%- endif -%}
    <nav aria-label="Secondary">
        <a href="{{ site.website.source }}" title="{{ locales.content.lang[page.lang] }}">{{ locales.content.lang[page.lang] }}</a> |
        <a href="{{ site.website.license.url }}" title="{{ site.website.license.name | escape }}">{{ site.website.license.name }}</a> |
        {{ locales.updated.lang[page.lang] }} <b>{{ site.time | date: '%F' }}</b> |
        &copy; {{ site.time | date: '%Y' }} {{ site.author.name }} |
    {% if site.author.buymeacoffee %}
        <a href="{{ site.author.buymeacoffee.url }}" title="{{ site.author.buymeacoffee.message | escape }}">{{ site.author.buymeacoffee.message }}</a> |
    {% endif %}
    <a rel="me" href="{{ site.author.social.mastodon.url }}" title="{{ site.author.social.mastodon.alt }}">{{ site.author.social.mastodon.alt }}</a>
    </nav>
</footer>
