{%- include core/page_title.liquid -%}
{%- include core/page_description.liquid -%}
{%- include core/page_url.liquid -%}

<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>{{ title }}</title>
<meta http-equiv="Content-Language" content="{{ site.languages.default }}">
{%- include head/hreflang.liquid -%}
<meta name="description" content="{{- meta_description -}}">
{%- comment -%}
<!--Avoid indexing release pages for SEO purposes (disabled).-->
{%- if page.name == 'release.md' -%}
<meta name="robots" content="noindex">
{%- endif -%}
{%- endcomment -%}
{%- comment -%}Avoid A.I. purpose crawls.{%- endcomment -%}
<meta name="robots" content="noai, noimageai">
<link rel="icon" type="image/png" href="{{- site.rooturl -}}/assets/favicon.png">
<link rel="stylesheet" type="text/css" href="{{ site.rooturl }}/assets/core.css">
<link rel="alternate" type="application/atom+xml" title="{{ site.title.lang[site.languages.default] }}" href="{{ site.rooturl }}/feed.xml">
<link rel="canonical" href="{{ page_url }}">
<!--Anonymous tracking-->
<script defer src="https://umami.franco.net.eu.org/script.js" data-website-id="53037083-96a1-4331-867a-e16d9cc10f4b"></script>
{%- include seo/twitter_cards.html -%}
{%- include seo/json_ld.html -%}
{%- include seo/open_graph_protocol.html -%}
