{%- assign img_data = page.images | where:"id",include.id | first -%}
{%- include image/image_url.liquid img_data=img_data page=page -%}

{%- if img_data.width -%}
    {%- assign width = img_data.width -%}
{%- else -%}
    {%- assign width = "300px" -%}
{%- endif -%}

{%- if img_data.alt -%}
    {%- assign alt = img_data.alt -%}
{%- else -%}
    {%- assign alt = "Image" -%}
{%- endif -%}

<figure class="include-image" title="image">
<a href="{{ url }}" target="_blank">
<picture>
{%- include image/alternative_image_sources.liquid url=url page=page img_data=img_data -%}
    <img src="{{ url }}"
         width="{{ width }}"
         alt="{{ alt | escape }}"
         loading="lazy">
</picture>
</a>
{%- if img_data.caption -%}
    <figcaption>{{ img_data.caption | markdownify }}</figcaption>
{%- endif -%}
</figure>
