# {{ site.title.lang[page.lang] }}

{%- include core/get_posts_by_iso639.liquid -%}

{%- include index/tag_list.liquid -%}
<div class="index" markdown="0">
<hr>
<p><em>{{ site.website.html_elements.index.showing_latest_posts.lang[page.lang] }} ({{ site.navigation.post_links_on_index }})</em></p>
<ul class="post-list no-list" itemscope itemtype="http://schema.org/Blog">
{%- assign filtered_posts = available_posts | slice: 0, site.navigation.post_links_on_index -%}
{%- for post in filtered_posts -%}
    {%- assign remainder = forloop.index0 | modulo: 10 -%}
    {%- if remainder == 0 and forloop.index0 > 0 -%}
    <li class="post-list-scs-element"><a href="{{ site.author.social.youtube.url }}" title="{{ site.author.social.youtube.alt }}" class="post-scs-link"><img class="post-scs-img" src="/assets/banner.png" width="300px" alt="{{ site.author.social.youtube.alt }}"></a></li>
    {%- endif -%}
    <li class="post-list-element" itemprop="blogPost" itemscope itemtype="http://schema.org/BlogPosting">
        <p>
        <b>
            <a class="post-link" href="{{ post.url }}" title="{{ post.title | escape }}" itemprop="url"><span itemprop="name">{{ post.title }}</span></a>
        </b>
        </p>
<span class="post-meta"><time itemprop="datePublished" datetime="{{ post.date | date_to_xmlschema }}">{{ post.date | date: '%F' }}</time></span>
{% include index/post_excerpt.liquid post=post %}
<div itemprop="description">{{ post_excerpt -}}</div>
    </li>
{%- endfor -%}
</ul>
<p><em>{{ available_posts | size | minus: site.navigation.post_links_on_index }} {{ site.website.html_elements.index.other_posts_in_nav.lang[page.lang] }}</em></p>
</div>
