<p><a href="https://github.com/adam-p/markdown-here/wiki/Markdown-Cheatsheet" title="Markdown">Markdown</a> comments supported</p>
<script data-isso="//{{ site.website.isso.domain }}/"
        {% if site.website.isso.script_values %}
            {% for s in site.website.isso.script_values %}
        {{ s.key }}="{{ s.value }}"
            {% endfor %}
        {% endif %}
        src="//{{ site.website.isso.domain }}/js/embed.min.js"></script>

<section id="isso-thread">
    <noscript>Javascript needs to be activated to view comments.</noscript>
</section>
