{% include core/nav_top_bot_elements.liquid page=page %}
<div class="nav">
    <ul class="no-list">
{%- assign buttons_ul = buttons | split: '¦' -%}
{%- for buttons_li in buttons_ul -%}
    {%- assign btn = buttons_li | split: '÷' -%}
        <li><a href="{{ btn[2] }}" title="{{ btn[0] }}">{{ btn[1] }}</a></li>
{%- endfor -%}
    </ul>
</div>
