{%- include core/nav_top_elements.liquid -%}
<header>
    <nav aria-label="Primary" class="top nav"><ul class="no-list">{%- assign buttons_ul = buttons | split: ',' -%}{%- for buttons_li in buttons_ul -%}{%- assign btn = buttons_li | split: '|' -%}<li><a href="{{ btn[1] }}" title="{{ btn[0] }}">{{ btn[0] }}</a></li>{% endfor %}</ul></nav>
</header>
