{%- comment -%}
Get tags and lists of post for each tag based on lang id. If a post does not
have a translation, use the default lang post.
{%- endcomment -%}
{%- include core/get_posts_by_iso639.liquid -%}
{%- include core/get_tags_by_iso639.liquid -%}
{%- assign tags_iso639 = tags_iso639 | sort | uniq -%}

{%- assign posts_url_by_tags = '' | split: ',' -%}
{%- assign posts_title_by_tags = '' | split: ',' -%}
{%- assign tag_list = '' | split: ',' -%}
{%- for t in tags_iso639 -%}
    {%- assign posts_url_by_tag = '' | split: ',' -%}
    {%- assign posts_title_by_tag = '' | split: ',' -%}
    {%- for s in site.tags[t] -%}
        {%- assign normalized_path = s.path | remove: '.md' | split:'/' -%}
        {%- assign normalized_path = normalized_path[2] -%}
        {%- include post/post_url_iso639.liquid post_url=normalized_path -%}
        {%- capture posts_url_by_tag -%}{{ posts_url_by_tag }}{{ post_url_iso639 }}|{%- endcapture -%}

        {%- assign post_object = site.posts | find: "path", post_file_path -%}
        {%- capture posts_title_by_tag -%}{{ posts_title_by_tag }}{{ post_object.title | escape }}÷{%- endcapture -%}
    {%- endfor -%}
    {%- capture posts_url_by_tags -%}{{ posts_url_by_tags }}{{ posts_url_by_tag }},{%- endcapture -%}
    {%- capture posts_title_by_tags -%}{{ posts_title_by_tags }}{{ posts_title_by_tag }}¦{%- endcapture -%}
    {%- assign tag_list = tag_list | push: t -%}
{%- endfor -%}

{%- assign pu = posts_url_by_tags | split: ',' -%}
{%- assign pt = posts_title_by_tags | split: '¦' -%}

{%- assign t_size = tag_list.size -%}
{%- for i in (1..t_size) -%}
<h3 id="{{ tag_list[forloop.index0] }}">{{ tag_list[forloop.index0] }}</h3>
<ul>
    {%- assign p_url = pu[forloop.index0] | split: '|' | uniq -%}
    {%- assign p_title = pt[forloop.index0] | split: '÷' | uniq -%}
    {%- assign p_size = p_url.size -%}
    {%- for j in (1..p_size) -%}
<li><a href="{{ p_url[forloop.index0] }}" title="{{ p_title[forloop.index0] }}">{{ p_title[forloop.index0] }}</a></li>
    {%- endfor -%}
</ul>
{%- endfor -%}
