{%- comment -%}
Get all tags by available posts. See core/get_posts_by_iso639.liquid
for the posts from which tags are extracted.

Duplicate tags are possible
{%- endcomment -%}
{%- include core/get_posts_by_iso639.liquid -%}
{%- assign site_posts_iso639 = available_posts -%}
{%- assign tags_iso639 = '' | split: ',' -%}
{%- for post in site_posts_iso639 -%}
    {%- assign st = post.tags -%}
    {%- for t in st -%}
        {%- assign tags_iso639 = tags_iso639 | push: t -%}
    {%- endfor -%}
{%- endfor -%}
