{%- comment -%}
Generate a list of elements giving priority to the localized versions.

If a transalted elements exists use that one, otherwise use the one in the default
language which must always exist.

input:
    elements_default_iso639: array
        A list of files in the default language
    site_element_iso639: array
        A list of files in a non-default language

return:
    available_elements: array
{%- endcomment -%}
{%- assign available_elements = '' | split: ',' -%}
{%- for i in include.elements_default_iso639 -%}
    {%- assign translated_element_exists = false -%}
    {%- for j in include.elements_iso639 -%}
        {%- comment -%}Get the last path component (stem) of the two files in exam.{%- endcomment -%}
        {%- assign j_stem = j.path | split: '/' | last -%}
        {%- assign i_stem = i.path | split: '/' | last -%}
        {%- if j_stem == i_stem -%}
        {%- comment -%}Translated file found, add it to the final list.{%- endcomment -%}
            {%- assign translated_element_exists = true -%}
            {%- assign available_elements = available_elements | push: j -%}
            {%- break -%}
        {%- endif -%}
    {%- endfor -%}
    {%- if translated_element_exists == false -%}
        {%- comment -%}Translated file not found, add the default file to the final list.{%- endcomment -%}
        {%- assign available_elements = available_elements | push: i -%}
    {%- endif -%}
{%- endfor -%}
