{%- comment -%}
Generate post links.

If a transalted posts exists use that one, otherwise use the one in the default
language which must exist.

input:
    none: none
return:
    available_posts: array
{%- endcomment -%}
{%- assign site_posts_iso639 = site.posts | where: 'lang', page.lang -%}
{%- assign site_posts_default_iso639 = site.posts | where: 'lang', site.languages.default -%}
{%- include core/get_elements_by_iso639.liquid elements_iso639=site_posts_iso639 elements_default_iso639=site_posts_default_iso639 -%}
{%- assign available_posts = available_elements -%}
