{%- comment -%}
Generate page object.

If a transalted pages exists use that one, otherwise use the one in the default
language which must exist.

input:
    none: none
return:
    available_pages: array
{%- endcomment -%}
{%- assign site_pages_iso639 = site.pages | where: 'lang', page.lang -%}
{%- assign site_pages_default_iso639 = site.pages | where: 'lang', site.languages.default -%}
{%- include core/get_elements_by_iso639.liquid elements_iso639=site_pages_iso639 elements_default_iso639=site_pages_default_iso639 -%}
{%- assign available_pages = available_elements -%}
