{%- assign locale = site.website.html_elements.iso639_selector -%}
{%- include seo/iso639_alternate.liquid -%}
{%- assign iso639_alt = iso639_alt | split: ',' -%}

<p class="iso639-selector-text">{{ locale.available_in.lang[page.lang] }}:
<ul id="iso639-selector" class="iso639-selector-list no-list">
{%- for struct in iso639_alt -%}
    {%- assign hreflang = struct | split: '|' -%}
    {%- if hreflang[0] != 'x-default' -%}
        {%- if page.lang == hreflang[0] -%}
    <li class="iso639-selector-list-element"><b>[{{ hreflang[0] }}]</b></li>
        {%- else -%}
    <li class="iso639-selector-list-element"><a href="{{ hreflang[1] }}">[{{ hreflang[0] }}]</a></li>
        {%- endif -%}
    {%- endif -%}
{%- endfor -%}
</ul>
</p>
