{%- comment -%}

input:

output:
    buttons: array
        array with this structure: [title0÷content0÷url0¦title1÷content1÷url1¦...¦titlen÷contentn÷urln]
{%- endcomment -%}
{% include core/post_next_prev.liquid page=page jump=jump %}
{%- assign btn_locales = site.website.html_elements.navigation -%}

{%- if page.lang == site.languages.default -%}
    {% assign lang_id = site.languages.default %}
{%- else -%}
    {% assign lang_id = page.lang %}
{%- endif -%}

{% assign buttons = '' %}

{%- if page.is_post and post_prev_jump.url -%}
    {% capture buttons %}{{ buttons }}{{ btn_locales.prev.lang[page.lang] | escape }} (-{{ site.navigation.post_jump }}): {{ post_prev_jump.title -}}÷&lt;&lt;÷{{- post_prev_jump.url -}}¦{% endcapture %}
{% endif %}

{%- if page.is_post and post_prev.url -%}
    {% capture buttons %}{{ buttons }}{{ btn_locales.prev.lang[page.lang] | escape }}: {{ post_prev.title -}}÷&lt;÷{{- post_prev.url -}}¦{% endcapture %}
{% endif %}

{%- if page.is_home != true -%}
    {%- capture buttons %}{{ buttons }}{{ btn_locales.home.lang[lang_id] | escape }}÷H÷/{%- if lang_id != site.languages.default -%}{{ lang_id | append: '/' }}{%- endif -%}¦{% endcapture %}
{%- endif -%}

{%- capture buttons %}{{ buttons }}{{ btn_locales.back_to_top.lang[page.lang] | escape }}÷^÷#top-page¦{% endcapture %}

{%- if page.is_post and post_next.url -%}
    {% capture buttons %}{{ buttons }}{{ btn_locales.next.lang[page.lang] | escape }}: {{ post_next.title | escape -}}÷&gt;÷{{- post_next.url -}}¦{% endcapture %}
{% endif %}

{%- if page.is_post and post_next_jump.url -%}
    {% capture buttons %}{{ buttons }}{{ btn_locales.next.lang[page.lang] | escape }} (+{{ site.navigation.post_jump }}): {{ post_next_jump.title | escape -}}÷&gt;&gt;÷{{- post_next_jump.url -}}¦{% endcapture %}
{% endif %}
