{%- comment -%}

input:

output:
    buttons: array
        array with this structure: [name0|url0,name1|...|url1,namen|urln,]
{%- endcomment -%}
{%- assign btn_locales = site.website.html_elements.navigation -%}

{%- if page.lang == site.languages.default -%}
    {% assign lang_id = site.languages.default %}
{%- else -%}
    {% assign lang_id = page.lang %}
{%- endif -%}

{%- capture buttons -%}{{ btn_locales.main_content.lang[lang_id] | escape }}|#main,{%- endcapture -%}
{%- if page.name != 'sitemap.md' -%}
    {%- capture buttons %}{{ buttons }}{{ btn_locales.sitemap.lang[lang_id] | escape }} 🗺|{%- if lang_id != site.languages.default -%}{{ lang_id | prepend: '/' }}{%- endif -%}{{ '/sitemap/' }},{% endcapture %}
{%- endif -%}
{%- if page.name != 'index.md' -%}
    {%- capture buttons %}{{ buttons }}{{ btn_locales.home.lang[lang_id] }} 🏠|{%- if lang_id != site.languages.default -%}{{ lang_id | prepend: '/' }}{%- endif -%}/,{% endcapture %}
{%- endif -%}
{%- if page.name != 'about.md' -%}
    {%- capture buttons %}{{ buttons }}{{ btn_locales.about.lang[lang_id] | escape }} 🤔|{%- if lang_id != site.languages.default -%}{{ lang_id | prepend: '/' }}{%- endif -%}{{ '/about/' }},{% endcapture %}
{%- endif -%}
{%- if page.name != 'jobs.md' -%}
    {%- capture buttons %}{{ buttons }}{{ btn_locales.jobs.lang[lang_id] | escape }} ⚒|{%- if lang_id != site.languages.default -%}{{ lang_id | prepend: '/' }}{%- endif -%}{{ '/jobs/' }},{% endcapture %}
{%- endif -%}
{%- if page.name != 'software.md' -%}
    {%- capture buttons %}{{ buttons }}{{ btn_locales.software.lang[lang_id] | escape }} 💿|{%- if lang_id != site.languages.default -%}{{ lang_id | prepend: '/' }}{%- endif -%}{{ '/software/' }},{% endcapture %}
{%- endif -%}
{%- comment -%}courses are not translated at the moment{%- endcomment -%}
{%- if page.name != 'courses.md' -%}
    {%- capture buttons %}{{ buttons }}{{ btn_locales.courses.lang[lang_id] | escape }} 📹|{%- if lang_id != site.languages.default -%}{%- endif -%}{{ '/courses/' }},{% endcapture %}
{%- endif -%}
{%- capture buttons %}{{ buttons }}{{ btn_locales.search.lang[lang_id] | escape }} 🔍|{%- if lang_id != site.languages.default -%}{%- endif -%}{{ '/search/' }},{% endcapture %}
{%- if page.name != 'feed.xml' -%}
    {%- capture buttons %}{{ buttons }}{{ btn_locales.feed.lang[lang_id] | escape }} 📶|{{ '/feed.xml' }},{% endcapture %}
{%- endif -%}
{%- if page.name != 'privacy_policy.md' -%}
    {%- capture buttons %}{{ buttons }}{{ btn_locales.privacy.lang[lang_id] | escape }} 📖|{%- if lang_id != site.languages.default -%}{{ lang_id | prepend: '/' }}{%- endif -%}{{ '/privacy-policy/' }},{% endcapture %}
{%- endif -%}
