{%- comment -%}
For canonical URLs see also
https://developers.google.com/search/docs/crawling-indexing/consolidate-duplicate-urls?hl=it
{%- endcomment -%}
{%- if page.is_post
    or page.is_home
    or page.is_about
    or page.is_404
    or page.is_tags
    or page.is_sitemap
    or page.is_software
    or page.is_software_instructions
    or page.is_jobs
    or page.is_privacy_policy -%}
    {%- assign page_url = page.url -%}
{%- else -%}
    {%- assign page_url = page.url | append: ".html" -%}
{%- endif -%}

{%- assign page_url = page_url | prepend: site.rooturl -%}

{%- if page.canonical_url -%}
    {%- assign page_url = page.canonical_url -%}
{%- endif -%}
