{%- if page.title -%}
    {%- if page.is_software_changelog -%}
        {% capture title %}{{ page.software_name }} changelog - {{ site.title.lang[page.lang] }}{% endcapture %}
    {%- elsif page.is_software_release -%}
        {%- comment -%}Override the title in every release page to have a unique and coherent one {%- endcomment -%}
        {% capture title %}{{ page.software_name }} version {{ page.software_version }} - {{ site.title.lang[page.lang] }}{% endcapture %}
    {%- else -%}
        {% capture title %}{{ page.title }} - {{ site.title.lang[page.lang] }}{% endcapture %}
    {%- endif -%}
{%- else -%}
    {% capture title %}{{ site.title.lang[page.lang] }}{% endcapture %}
{%- endif -%}
