{%- if page.is_software_changelog -%}
    {%- capture meta_description -%}{{- page.software_name }} changelog - {{ site.title.lang[page.lang] -}}{%- endcapture -%}
{%- elsif page.is_software_release -%}
    {%- capture meta_description -%}{{- page.software_name }} version {{ page.software_version }} - {{ site.title.lang[page.lang] }}{%- endcapture -%}
{%- elsif page.description -%}
    {%- capture meta_description -%}{{- page.description | truncate: site.meta.description_words -}}{%- endcapture -%}
{%- elsif page.excerpt -%}
    {%- capture meta_description -%}{{- page.excerpt | strip_html | strip_newlines | truncate: site.meta.excerpt_words -}}{%- endcapture -%}
{%- else -%}
    {%- capture meta_description -%}{{- site.description.lang[page.lang] | truncate: site.meta.description_words -}}{%- endcapture -%}
{%- endif -%}
{%- assign meta_description = meta_description | escape -%}
