{% comment %}
Get previous and next posts based on the current one.

You can access URLs and paths using the same attributes as `site.posts[i]`:
for example: `post_prev.url, post_next.url`

input:
    page: object

output:
    post_prev: object
    post_next: object
    post_prev_jump: object
    post_next_jump: object
{% endcomment %}
{% include core/get_posts_by_iso639.liquid %}

{% assign post_prev = false %}
{% assign post_next = false %}
{% assign post_prev_jump = false %}
{% assign post_next_jump = false %}

{% assign i = 0 %}
{% for p in available_posts %}
    {% if page.path == p.path %}
        {% if i > 0 %}
            {% assign idx = i | minus: 1 %}
            {% assign post_next = available_posts[idx] %}
            {% assign new_index = i | minus: 5 %}
            {% if new_index >= 0 %}
                {% assign post_next_jump = available_posts[new_index] %}
            {% endif %}
        {% endif %}
        {% if i < available_posts.size - 1 %}
            {% assign idx = i | plus: 1 %}
            {% assign post_prev = available_posts[idx] %}
            {% assign new_index = i | plus: 5 %}
            {% if new_index < available_posts.size %}
                {% assign post_prev_jump = available_posts[new_index] %}
            {% endif %}
        {% endif %}
    {% endif %}
    {% assign i = i | plus: 1 %}
{% endfor %}
