.announcement-footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: red;
    color: white;
    text-align: center;
    p {
        margin-top: 0;
        margin-bottom: 0;
    }
    a {
        color: #0000cc;
    }
}
