.testimonial-slider
  position: relative
  width: 100%  /* Set the width of the testimonial box */
  overflow: hidden  /* Hide overflow to prevent showing extra testimonials */
  border: 1px solid #ccc
  border-radius: 8px
  background: white
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1)

.testimonial-container
  display: flex
  transition: transform 0.3s ease  /* Smooth transition */

.testimonial
  min-width: 100%  /* Each testimonial takes full width of the container */
  padding: 20px
  box-sizing: border-box  /* Include padding and border in width */

.stars
  font-size: 20px  /* Adjust star size */

.flag
  font-size: 24px  /* Adjust flag size */

.country
  font-style: normal
  margin: 5px 0

.username
  font-weight: bold
  margin: 5px 0

.review
  font-style: italic

.positives
  ul
    list-style: none
    padding: 0
    margin: 0

    li
      display: inline-block
      text-decoration: underline
      font-size: 0.65em
      margin-right: 5px

/* Hide radio buttons */
input[type="radio"]
  display: none

/* Show Testimonials */
@for $i from 0 through 11
  $translate-value: -100 * $i
  #testimonial-#{$i}:checked ~ .testimonial-container
    transform: translateX($translate-value * 1%)  /* Show Testimonial */

/* Navigation dots */
.navigation
  text-align: center
  margin-top: 10px

.nav-dot
  display: inline-block
  width: 16px
  height: 16px
  background-color: #ccc  /* Default dot color */
  border-radius: 100%
  margin: 0 5px
  cursor: pointer

/* Change the color of the active dot */
@for $i from 0 through 11
  #testimonial-#{$i}:checked ~ .navigation label[for="testimonial-#{$i}"]
    background-color: #007BFF  /* Active dot color */

.fiverr-link
  text-decoration: none
  color: white
  background-color: #1dbf73
  padding: 10px 15px
  border-radius: 5px
