.post-list
    list-style-type: none

.post-list-element
    margin-left: 0

.post-list-scs-element
    margin-left: 0
    a
        img
            border-radius: 4px
            width: 100%
            object-fit: cover

@media (max-width: 400px)
    .post-list-scs-element
        a
            img
                height: 128px
                object-position: center center

@media (min-width: 400px) and (max-width: 768px)
    .post-list-scs-element
        a
            img
                height: 256px
                object-position: center center

.post-link
    font-size: 1.25rem
