.iso639-selector-text
    margin: 0 8px 0 0
    padding: 0
    display: inline

.iso639-selector-list
    margin: 0
    display: inline

.iso639-selector-list-element
    display: inline
    margin: 0 8px 0 0
    padding: 0
