// Top and bottom navigation links.
.nav ul
    all: initial
    list-style-type: none
    margin: 0
    padding: 0

.nav li
    all: initial
    display: inline
    text-align: center
    margin: 0 4px 0 0

.nav li a
    font-family: sans-serif
    border-radius: 4px
    padding: 8px
    color: black
    text-decoration: none
    background-color: #dddddd

.nav li:last-child
    margin-right: none

.nav li a:hover
    background-color: #555
    color: white

@media screen and (max-width: 800px)
  .nav li
    display: inline-block
    margin-bottom: 16px
