// See
// https://ethanschoonover.com/solarized/#features

body {
    background-color: #fffffa;
}

figure {
    width: auto;
    max-width: 50%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 4px;
}

figure img {
    width: 100%;
    height: auto;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
}

figcaption {
    text-align: center;
}

// Responsive.
@media screen and (max-width: 450px) {
  figure {
    max-width: 100%;
    width: 100%;
  }
}

@media screen and (min-width: 450px) and (max-width: 750px) {
  figure {
    max-width: 75%;
    width: 100%;
  }
}
ul {
    list-style-type: circle;
}

// Suggested by Google Web Console.
li {
    margin: 8px;
}

// Remove the faked hr tag.
.markdown-body {
    h1,
    h2 {
        border-bottom: none;
    }
}

// Rounded corners in `pre` tags.
.highlighter-rouge {
    overflow: hidden;
    border-radius: 4px;
}
