{%- comment -%}
Steps:
    - compute the local path of the existing image file
    - extract its stem
    - compute local paths for all supported files
    - compute URLs for all supported files if they exist locally
    - populate the alternative image sources

input:
    page: object
    img_data: object
    url: the image URL

output:
    jpg: bool
    webp: bool
    avif: bool
    img_url_stem: str
    avif_img_url_path: str
    webp_img_url_path: str
{%- endcomment -%}
{% assign page_path_array = include.page.path | split: '/' %}
{% comment %}Assume page is post: _post/${lang}/${name}.md -> index 2{% endcomment %}
{% capture img_local_path %}_media/{{ page_path_array[2] | remove: '.md' | append: '/' | append: include.img_data.filename }}{% endcapture %}

{%- capture img_local_suffix -%}.{{ img_local_path | split: "." | last }}{%- endcapture -%}

{%- comment -%}This should be remove_last but it does not work in Jekyll{% endcomment %}
{%- assign img_local_stem = img_local_path | remove: img_local_suffix -%}

{%- capture jpg_img_local_path -%}{{ img_local_stem }}.jpg{% endcapture %}
{%- capture webp_img_local_path -%}{{ img_local_stem }}.webp{% endcapture %}
{%- capture avif_img_local_path -%}{{ img_local_stem }}.avif{% endcapture %}

{% comment %}Check file existence{% endcomment %}
{%- assign jpg = site.static_files | where: "path", jpg_img_local_path | first -%}
{%- assign webp = site.static_files | where: "path", webp_img_local_path | first -%}
{%- assign avif = site.static_files | where: "path", avif_img_local_path | first -%}

{%- capture img_url_suffix -%}.{{ include.url | split: "." | last }}{% endcapture -%}
{%- comment -%}This should be remove_last but it does not work in Jekyll{%- endcomment -%}
{%- assign img_url_stem = include.url | remove: img_url_suffix -%}

{%- if avif -%}
   {%- capture avif_img_url_path -%}{{ img_url_stem }}.avif{%- endcapture -%}
    <source srcset="{{ avif_img_url_path }}" type="image/avif" />
{%- endif -%}
{%- if webp -%}
    {% capture webp_img_url_path -%}{{ img_url_stem }}.webp{%- endcapture -%}
    <source srcset="{{ webp_img_url_path }}" type="image/webp" />
{%- endif -%}
