{% comment %}

input:
    img_data: object
    page: object

output:
    url: str

{% endcomment %}
{% if include.img_data.otherpost %}
    {% assign url = "/media/" | append: include.img_data.filename %}
{% else %}
    {% assign page_path_array = include.page.path | split: '/' %}
    {% capture url %}/media/{{ page_path_array[2] | remove: '.md' | append: '/' | append: include.img_data.filename }}{% endcapture %}
    {% assign url = site.rooturl | append: url %}
{% endif %}
