{%- assign locale = site.website.html_elements.software -%}
## {{ locale.introduction.lang[page.lang] }}

This page is the only *official* source of some of my software available on the
Internet. Here you will find software releases and methods to verify their
authenticity.
