{%- comment -%}
input:
    url: str
        the URL that is pointed
    text: str
        the text and alt values in the link
    name: str
        the file name
{%- endcomment -%}
<a href="{{ include.url }}" title="Download {{ include.text }}" download="{{ include.name }}">Download <code>{{ include.text }}</code></a>
