{%- include core/get_posts_by_iso639.liquid -%}
<ul>
    {%- for post in available_posts -%}
<li><a href="{{- post.url -}}" title="{{- post.title | escape -}}">{{ post.title | escape }}</a></li>
    {%- endfor -%}
</ul>
