{%- include core/get_pages_by_iso639.liquid %}
<ul>
{%- for page in available_pages -%}
    {%- if page.name != "404.md" -%}
<li><a href="{{- page.url -}}" title="{{- page.title | escape -}}">{{ page.title | escape }}</a></li>
    {%- endif -%}
{%- endfor -%}
</ul>
