{%- assign locale = site.website.html_elements.software -%}
## {{ locale.introduction.lang[page.lang] }}

Questa pagina è l'unica fonte *ufficiale* di alcuni dei miei software
disponibili su Internet. Qui troverete le loro versioni e metodi per
verificare la loro autenticità.
