<h2 id="instructions">Instructions</h2>
<!--TOC-->
<ul>
<li><a href="#instructions">Instructions</a>
<ul>
<li><a href="#setup">Setup</a>
<ul>
<li><a href="#linux">Linux</a></li>
<li><a href="#mac">Mac</a></li>
<li><a href="#windows">Windows</a></li>
</ul></li>
<li><a href="#running">Running</a>
<ul>
<li><a href="#linux-1">Linux</a></li>
<li><a href="#mac-1">Mac</a></li>
<li><a href="#windows-1">Windows</a></li>
</ul></li>
</ul></li>
<li><a href="#other">Other</a></li>
</ul>
<!--TOC-->
<p><strong>All the commands you see are to be executed one by one. Don’t
copy the whole command block, but execute only one command at a
time!</strong></p>
<h3 id="setup">Setup</h3>
<p>See also <a
href="https://docs.python.org/3/library/venv.html#how-venvs-work">https://docs.python.org/3/library/venv.html#how-venvs-work</a></p>
<h4 id="linux">Linux</h4>
<ol type="1">
<li><p>open a terminal and go into the project directory</p></li>
<li><p>if you are on a new Debian-based system and never created a
Python virtual environment, most probably you need to install this
package</p>
<pre class="shell"><code>sudo apt install python3-venv</code></pre></li>
<li><p>create the virtual environment</p>
<pre class="shell"><code>python3 -m venv .venv
. .venv/bin/activate
pip install -r requirements.txt
deactivate</code></pre></li>
</ol>
<h4 id="mac">Mac</h4>
<ol type="1">
<li><p>open a terminal and go into the project directory</p></li>
<li><p>if not already installed, install Python</p>
<pre class="shell"><code>brew install python</code></pre></li>
<li><p>now create the virtual environment</p>
<pre class="shell"><code>python3 -m venv .venv
source .venv/bin/activate
pip install -r requirements.txt
deactivate</code></pre></li>
</ol>
<h4 id="windows">Windows</h4>
<ol type="1">
<li><p>install Python 3.11 from the <strong>Windows store</strong> which
works out of the box. <em>Don’t use the releases from the Python
website</em>.</p></li>
<li><p>open the Powershell <strong>as administrator</strong>, then set
the execution policy to <code>Unrestricted</code>. This needs to be done
only once, not every time you create a virtual environment. See also <a
href="https://go.microsoft.com/fwlink/?LinkID=135170">https://go.microsoft.com/fwlink/?LinkID=135170</a></p>
<pre class="shell"><code>Set-ExecutionPolicy -ExecutionPolicy Unrestricted</code></pre></li>
<li><p>close the <strong>administrator</strong> Powershell</p></li>
<li><p>open a normal Powershell</p></li>
<li><p>go into the project directory and proceed to create the virtual
environment</p>
<pre class="shell"><code>python3 -m venv .venv
. .\.venv\Scripts\activate
pip install -r requirements.txt
deactivate</code></pre></li>
</ol>
<p>Note: for security reasons I suggest putting the execution policy
back to its<br />
original state when the script will not be needed anymore</p>
<h3 id="running">Running</h3>
<h4 id="linux-1">Linux</h4>
<ol type="1">
<li><p>open a terminal and go into the project directory</p></li>
<li><p>run the script</p>
<pre class="shell"><code>. .venv/bin/activate
python -m automate
deactivate</code></pre></li>
</ol>
<h4 id="mac-1">Mac</h4>
<ol type="1">
<li><p>open a terminal and go into the project directory</p></li>
<li><p>run the script</p>
<pre class="shell"><code>source .venv/bin/activate
python -m automate
deactivate</code></pre></li>
</ol>
<h4 id="windows-1">Windows</h4>
<ol type="1">
<li><p>open the Powershell and go into the project directory</p></li>
<li><p>run the script</p>
<pre class="shell"><code>. .\.venv\Scripts\activate
python -m automate
deactivate</code></pre></li>
</ol>
<h2 id="other">Other</h2>
<p>To regenerate this HTML doc run:</p>
<pre class="shell"><code>pandoc -f markdown -t html -o readme.html README.md</code></pre>
