{%- comment -%}
Create a post excerpt

input:
    post: object

output:
    post_excerpt: str

See http://frontendcollisionblog.com/jekyll/snippet/2015/03/23/how-to-show-a-summary-of-your-post-with-jekyll.html which is released under the MIT license, Copyright (c) 2015 Joshua Beam
{%- endcomment -%}
{%- capture post_excerpt -%}
{%- if include.post.content contains site.excerpts.start and include.post.content contains site.excerpts.end -%}
    {%- assign start=include.post.content | split: site.excerpts.start | last -%}
    {%- assign end=start | split: site.excerpts.end | first -%}
{{- end | strip_html -}}...
{%- else -%}
{{- include.post.content | strip_html | truncatewords: site.excerpts.words -}}
{%- endif -%}
{%- endcapture -%}
