{%- comment -%}
Sort decreasingly, alphabetically by tag frequency and by name.
After building a data structure like this:

tag_score =
padded frequency|tag name|index start of score from end of string
==========================================================
000008|mytag|-1
010000|anothertag|-5
000010|three|-2
000010|four|-2
000010|six|-2
000010|five|-2

it becomes:

tag_score =
padded frequency|tag name|index start of score from end of string
==========================================================
010000|anothertag|-5
000010|six|-2
000010|three|-2
000010|four|-2
000010|five|-2
000008|mytag|-1

input: none

output:
    tag_score: array
        see previous comments
    max_padding_index: int
        end index where to slice the padded score
{%- endcomment -%}
{%- include core/get_tags_by_iso639.liquid -%}

{%- comment -%}Tags need to be sorted for the following operations to work{%- endcomment -%}
{%- assign tags_iso639 = tags_iso639 | sort -%}

{%- assign max_padding = 6 -%}
{%- assign tag_score = '' | split: ',' -%}
{%- assign current_tag = tags_iso639[0] | slugify -%}
{%- assign score = 1 -%}
{%- for i in (1..tags_iso639.size) -%}
    {%- assign tag_iso639 = tags_iso639[i] | slugify -%}
    {%- assign current_tag = current_tag | slugify -%}
    {%- if tag_iso639 == current_tag  -%}
        {%- assign score = score | plus: 1 -%}
    {%- else -%}
        {%- if score >= site.tag_list.score.min -%}
            {%- capture score_str -%}{{ score }}{%- endcapture %}
            {%- assign current_padding = max_padding | minus: score_str.size -%}
            {%- assign normalized_score = '' -%}
            {%- for i in (1..current_padding) -%}
                {%- assign normalized_score = normalized_score | append: '0' -%}
            {%- endfor -%}
            {%- assign normalized_score = normalized_score | append: score_str -%}
            {%- comment -%}Get the index, starting from the end of the string (so negative values), of the score integer in the normalized_score string{%- endcomment -%}
            {%- assign start_of_score_index_negative = current_padding | minus: max_padding -%}
            {%- capture value -%}{{ normalized_score | escape }}|{{ current_tag | slugify | escape }}|{{ start_of_score_index_negative | escape }},{%- endcapture %}
            {%- assign tag_score = tag_score | push: value -%}
        {%- endif -%}
        {%- assign current_tag = tag_iso639 -%}
        {%- assign score = 1 -%}
    {%- endif -%}
{%- endfor -%}
{%- assign tag_score = tag_score: split: ',' -%}
{%- assign tag_score = tag_score | sort | reverse -%}

{%- if site.limit_tag_links -%}
    {%- assign s = site.limit_tag_links | plus: 0 -%}
    {%- assign tag_score = tag_score | slice: 0, s -%}
{%- endif -%}

{%- assign max_padding_index = max_padding | minus: 1 -%}
