{%- include index/tag_scores.liquid %}
<div markdown="0" class="tag-list nav">
    <ul class="no-list">{%- for s in tag_score -%}
            {%- assign tag_element = s | split: '|' -%}
            {%- assign tag_name = tag_element[1] -%}
            {%- assign slices = tag_element[2] | remove: ',' -%}
            {%- assign score = tag_element[0] | slice: slices, max_padding_index -%}
            {%- capture link -%}{%- if page.lang != site.languages.default -%}{{ page.lang | prepend: '/' }}{%- endif -%}/tags/#{{ tag_element[1] }}{%- endcapture -%}
        <li><a href="{{ link }}" title="{{ tag_name }} ({{ score }}) posts">{{ tag_name }} ({{ score }})</a></li>{% endfor %}
    </ul>
</div>
