{%- comment -%}
Create the HTML headers for localized page versions

See also:
- https://polyglot.untra.io/seo/
- https://www.w3.org/International/geo/html-tech/tech-lang.html#ri20060630.133615821
- https://developers.google.com/search/docs/specialty/international/localized-versions

input:
    none

output:
    iso639_alt: array
        hreflang0|href0,hreflang1|href1,...,hreflangn|hrefn
{%- endcomment -%}
{%- assign alternate_url_default = '' -%}
{%- assign p = page.url | split: '/' -%}
{%- if page.lang != site.languages.default -%}
    {%- assign p_size_idx = p.size | minus: 1 -%}
    {%- for i in (2..p_size_idx) -%}
        {%- assign alternate_url_default = alternate_url_default | append: '/' | append: p[i] -%}
    {%- endfor -%}
    {%- assign s_minus_1 = page.url | size | minus: 1 -%}
    {%- assign last_char = page.url | slice: s_minus_1 -%}
    {%- if last_char == '/' -%}
        {%- assign alternate_url_default = alternate_url_default | append: '/' -%}
    {%- endif -%}
{%- else -%}
    {%- assign page_url = page.url -%}
    {%- if page.is_software_changelog or page.is_software_release -%}
        {%- assign page_url = page.url | append: '.html' -%}
    {%- endif -%}
    {%- assign alternate_url_default = page_url -%}
{%- endif -%}

{%- capture iso639_alt -%}{{ site.languages.default }}|{{ alternate_url_default }},{%- endcapture -%}
{%- for lang in site.languages.supported -%}
    {%- if lang != site.languages.default -%}
        {%- capture alternate_url -%}/{{ lang }}{{ alternate_url_default }}{%- endcapture -%}
        {%- assign s_posts = site.posts | where: 'lang', lang -%}
        {%- assign s_pages = site.pages | where: 'lang', lang -%}
        {%- assign all_pages = s_posts | concat: s_pages -%}
        {%- assign page_exists = false -%}
        {%- for p in all_pages -%}
            {%- if p.url == alternate_url -%}
                {%- assign page_exists = true -%}
            {%- endif -%}
        {%- endfor -%}
        {%- if page_exists -%}
            {%- capture iso639_alt -%}{{ iso639_alt }}{{ lang }}|{{ alternate_url }},{%- endcapture -%}
        {%- endif -%}
    {%- endif -%}
{%- endfor -%}
{%- comment -%}
See
https://developers.google.com/search/docs/specialty/international/localized-versions?hl=en#xdefault
{%- endcomment -%}
{%- capture iso639_alt -%}{{ iso639_alt }}x-default|{{ alternate_url_default }},{%- endcapture -%}
