{%- include seo/iso639_alternate.liquid -%}
{%- comment -%}See https://gist.github.com/davidensinger/5431869{%- endcomment -%}
<meta property="og:site_name" content="{{ site.title.lang[site.languages.default] | escape }}" />

{%- if page.title -%}
<meta property="og:title" content="{{ page.title | escape }}" />
{%- else -%}
<meta property="og:title" content="{{ site.title.lang[site.languages.default] | escape }}" />
{%- endif -%}

{%- if page.title -%}
<meta property="og:type" content="article" />
{%- else -%}
<meta property="og:type" content="website" />
{%- endif -%}

{%- include core/page_description.liquid -%}
<meta property="og:description" content="{{ meta_description }}" />

{%- if page.url -%}
<meta property="og:url" content="{{ page.url | absolute_url }}" />
{%- endif -%}

{%- if page.date -%}
<meta property="article:published_time" content="{{ page.date | date_to_xmlschema }}" />
<meta property="article:author" content="{{ site.rooturl }}/about/" />
    {%- if page.updated and page.updated != page.date -%}
<meta property="article:modified_time" content="{{ page.updated | date_to_xmlschema }}" />
    {%- endif -%}
{% endif %}

{%- assign iso639_alt = iso639_alt | split: ',' -%}
{%- for struct in iso639_alt -%}
    {%- assign locale = struct | split: '|' -%}
    {%- if locale[0] != 'x-default' -%}
        {%- comment -%}Translate lang to language_TERRITORY as described in the OpenGraph specs.{%- endcomment -%}
        {%- assign code = '' -%}
        {% for l in site.locales.supported -%}
            {%- if l.lang == locale[0] -%}
                {%- assign code = l.code -%}
                {%- break -%}
            {%- endif -%}
        {%- endfor -%}
        {%- if page.lang == locale[0] -%}
<meta property="og:locale" content="{{ code }}" />
        {%- else -%}
<meta property="og:locale:alternate" content="{{ code }}" />
        {%- endif -%}
    {%- endif -%}
{%- endfor -%}

{%- if page.images -%}
    {%- if page.seo_default_image_id -%}
        {%- assign img_data = page.images | where:"id",page.seo_default_image_id | first -%}
    {%- else -%}
        {%- comment -%}Get the first picture of a post if not specified otherwise.{%- endcomment -%}
        {%- assign img_data = page.images[0] -%}
    {%- endif -%}
    {%- include image/image_url.liquid img_data=img_data page=page -%}
<meta property="og:image" content="{{ url }}" />
    {% if img_data.alt %}
<meta property="og:image:alt" content="{{ img_data.alt }}" />
    {% endif %}
    {% if img_data.width %}
<meta property="og:image:width" content="{{ img_data.width }}" />
    {% endif %}
{%- else -%}
<meta property="og:image" content="{{ site.rooturl }}/favicon.ico" />
<meta property="og:image:alt" content="{{ site.description.lang[page.lang] | escape }}" />
{%- endif -%}

{%- if page.tags -%}
    {%- for tag in page.tags -%}
<meta property="article:tag" content="{{ tag | escape }}" />
    {%- endfor -%}
{%- endif -%}
