{%- comment -%}See https://developer.twitter.com/en/docs/twitter-for-websites/cards/overview/markup and https://developer.twitter.com/en/docs/twitter-for-websites/cards/guides/getting-started{%- endcomment -%}
<meta name="twitter:site" content="{{ site.title.lang[site.languages.default] | escape }}" />

{%- if page.title -%}
<meta name="twitter:title" content="{{ page.title | escape }}" />
{%- else -%}
<meta name="twitter:title" content="{{ site.title.lang[site.languages.default] | escape }}" />
{%- endif -%}

{%- include core/page_description.liquid -%}
<meta name="twitter:description" content="{{ meta_description }}" />

<meta name="twitter:creator" content="{{ site.rooturl }}/about/" />

{%- if page.images -%}
    {%- if page.seo_default_image_id -%}
        {%- assign img_data = page.images | where:"id",page.seo_default_image_id | first -%}
    {%- else -%}
        {%- comment -%}Get the first picture of a post if not specified otherwise.{%- endcomment -%}
        {%- assign img_data = page.images[0] -%}
    {%- endif -%}
    {%- include image/image_url.liquid img_data=img_data page=page -%}
<meta name="twitter:card"  content="summary_large_image">
<meta name="twitter:image" content="{{ url }}" />
    {% if img_data.alt %}
<meta name="twitter:image:alt" content="{{ img_data.alt }}" />
    {% endif %}
{%- else -%}
<meta name="twitter:image" content="{{ site.rooturl }}/favicon.ico" />
<meta name="twitter:card" content="summary" />
<meta name="twitter:image:alt" content="{{ site.description.lang[page.lang] | escape }}" />
{%- endif -%}
