{%- comment -%}
Alternative command for the post_url command: use this include file instead of
that build-in command.

Compute the correct URL: if no language code is specified use the default
   one

input:
    post_url: str
    the post path in the form of "yyyy-mm-dd-slugged_title". This is like
    the input of the built-in `post-url` command.

output:
    post_url_iso639: str
    post_file_path: str
    post_title_iso639: str
{%- endcomment -%}
{%- comment %}Remove ISO date from post_url{% endcomment -%}
{%- assign post_url_len = include.post_url | size -%}
{%- assign post_url_no_iso8601 = include.post_url | slice: 11, post_url_len -%}
{%- if page.lang == site.languages.default -%}
    {% capture post_url_iso639 %}/post/{{ post_url_no_iso8601 }}{% endcapture -%}
{%- else -%}
    {%- capture post_url_iso639 %}/{{ page.lang }}/post/{{ post_url_no_iso8601 }}{%- endcapture -%}
{%- endif -%}

{%- capture post_file_path %}_posts/{{ page.lang }}/{{ include.post_url }}.md{% endcapture -%}

{%- assign posts_by_lang = site.posts | where: "lang", page.lang -%}
{%- assign post = posts_by_lang | find: "path", post_file_path -%}

{%- comment %}Check if post file exists: if not use defaults.{%- endcomment -%}
{%- if post.path -%}
    {%- comment -%}Post in that language exists: nothing to do.{%- endcomment -%}
{%- else -%}
    {%- capture post_url_iso639 %}/post/{{ post_url_no_iso8601 }}{%- endcapture -%}
    {%- capture post_file_path %}_posts/{{ site.languages.default }}/{{ include.post_url }}.md{%- endcapture -%}
    {%- assign post = posts_by_lang | find: "path", post_file_path -%}
{%- endif -%}

{%- comment -%}Get the title to be used as the optional HTML title attribute.{%- endcomment -%}
{%- assign post_title_iso639 = post.title | escape -%}
{%- comment -%}All post URLs must end with .html.{%- endcomment -%}
{%- assign post_url_iso639 = post_url_iso639 | append: '.html' -%}
