<script>
    import { onMount } from 'svelte';

    let posts = [];
    let searchTerm = '';
    let filteredPosts = [];

    onMount(async () => {
        const response = await fetch('/data/posts.json');
        posts = await response.json();

        // Initialize with all posts.
        filteredPosts = posts;
    });

    // Reactive statement to filter posts based on search term.
    $: filteredPosts = posts.filter(post =>
        post.name.toLowerCase().includes(searchTerm.toLowerCase()) ||
        post.keywords.toLowerCase().includes(searchTerm.toLowerCase()) ||
        post.dateModified.includes(searchTerm.toLowerCase()) ||
        post.description.toLowerCase().includes(searchTerm.toLowerCase())
    );

</script>

<main>
    <h1>Search <a href="https://blog.franco.net.eu.org">blog</a> posts</h1>
    <input type="text" placeholder="Search..." bind:value={searchTerm} />
    <ul>
        {#each filteredPosts as post}
            <li>
                <a href={post.url}><img src={post.image_url} alt={post.name} style="max-width: 100px; margin-right: 10px;" /></a>
                <a href={post.url}>[{post.dateModified}] {post.name}</a>
            </li>
        {/each}
    </ul>
</main>

<style>
    input {
        margin-bottom: 1rem;
        padding: 0.5rem;
        width: 100%;
        max-width: 400px;
    }
    ul {
        list-style-type: none;
        padding: 0;
    }
    li {
        margin: 0.5rem 0;
        display: flex; /* Use flexbox to align image and text */
        align-items: center; /* Center align items vertically */
    }
    img {
        max-width: 100px; /* Set a max width for the image */
        margin-right: 10px; /* Space between image and text */
    }
</style>
