---
layout: page
---
{% if page.courses.comment != '' %}
<p>{{ page.courses.comment }}</p>
{% endif %}

{% for c in page.courses.course %}

## {{ c.subject }}

{% for element in c.data %}
{% if element.type == 'video' %}

### {{ element.title }}

{% if element.comment %}
{{ element.comment }}
{% endif %}

{{ element.embed_html }}

{% if element.backup_url != '' %}
<em>Backup</em>
<video controls width="560" height="315" preload="none">
    <source src="{{ element.backup_url }}" type="video/webm" />
    <p>Your browser doesn't support HTML video. Here is a [link]({{ element.backup_url }}) instead.</p>
</video>
{% endif %}

{% endif %}
{% endfor %}

{% endfor %}
