---
layout: null
---
<!DOCTYPE html>
{%- comment -%}See https://www.bennadel.com/blog/822-using-body-id-as-a-back-to-top-page-anchor.htm#comments_448{%- endcomment -%}
<html lang="{{ page.lang }}" id="top-page">
	<head>
		{% include head.html %}
	</head>
	<body>
    <div class="container-lg px-3 my-5 markdown-body">
		{%- include nav_top.html -%}
<hr>
        {%- include core/iso639_selector.liquid -%}
        {%- if page.is_post != true -%}
<div id="main"></div>
        {%- endif -%}
        {%- if page.is_post -%}
            {%- include nav_top_bot.html -%}
        {%- endif -%}

        {%- if site.anchor_headings.enabled -%}
            {%- if page.enable_markdown -%}
                {%- assign cnt = content | markdownify -%}
            {%- else -%}
                {%- assign cnt = content -%}
            {%- endif %}
            {%- include anchor_headings.html html=cnt anchorBody=site.anchor_headings.character anchorClass="hAnchor" h_min=site.anchor_headings.min h_max=site.anchor_headings.max beforeHeading=site.anchor_headings.before -%}
        {%- else -%}
            {{- content -}}
        {%- endif -%}
<hr>
        {%- if page.is_404 != true -%}
            {%- include nav_top_bot.html -%}
        {%- endif -%}
    	{%- include footer.html -%}
        {%- include announcement_footer.html -%}
</div>
</body>
</html>
