---
layout: default
---
{%- assign page_date = page.date | date: '%F' -%}
{%- assign page_updated = page.updated | date: '%F' -%}
<div class="post-page" itemscope itemtype="http://schema.org/BlogPosting">
<div class="post-base">
<div class="post-metadata">
    <h1 class="post-title" itemprop="name">{{- page.title -}}</h1>
{%- if page.tags -%}
    {%- assign page_tags = page.tags | sort -%}
    <div class="tag-list nav">
    <ul class="no-list">
    {%- for tag in page_tags -%}
        {%- capture link -%}{%- if page.lang != site.languages.default -%}{{ page.lang | prepend: '/' }}{%- endif -%}/tags/#{{ tag }}{%- endcapture -%}
        <li><a href="{{- link -}}" title="{{ tag | escape }}">{{- tag -}}</a></li>
     {%- endfor -%}
    </ul>
    </div>
{%- endif -%}
    <hr>
</div>

<article class="post" id="main" itemprop="articleBody">
{%- include anchor_headings.html html=content -%}
</article>

<hr>
<table class="post-dates">
    <tr><td class="written-on">written</td><td><time class="written-on-date" itemprop="datePublished" datetime="{{ page.date | date_to_xmlschema }}">{{ page_date }}</time></td>
    <tr>
{%- if page_updated < page_date -%}
<td class="updated-on">*** ERROR:</td><td>check front matter <b>updated</b> variable ***</td>
{%- elsif page_date == page_updated -%}
<td class="updated-on">updated</td><td>never</td>
{%- elsif page_date != page_updated -%}
<td class="updated-on">updated</td><td><time class="updated-on-date" itemprop="dateModified" datetime="{{ page.updated | date_to_xmlschema }}">{{ page_updated -}}</time></td>
{%- endif -%}
    </tr>
</table>

</div>
